# Ignore all datasets Individual_Datasets
/Training_Data/Individual_Datasets/*

# Ignore logs files
/Transformer/model_files/logs/*

# Ignore old devcontainers
/.devcontainer/old_versions

# Ignore pickle files
*.pkl

# Ignore Keras model files
*.keras

# Ignore Python cache directories
__pycache__/
*.tsv
